.container {
    max-width: 600px;
    margin-top: 200px;
}
/* .correct {
    display: none;
}

.wrong {
    display: none;
} */


body {
    background-color: gainsboro;
    margin: 0;
    padding: 0;
  }